@font-face {
    font-family: "Lato Regular";
    src: url("/fonts/Lato-Regular.ttf");
  }
  
body {
    padding: 0 12rem;
    font-family: Lato Regular;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h3 {
    width: 60%;
}
.list {
    justify-content: space-between;
    width: 40%;
    margin-top: 1.5rem;
}
.list p {
    font-size: 20px;
}
.logo{
    color: hotpink;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    width: 20%;
}
span{
    color: black;
}
.btn{
    background-color: navy;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 3opx;
}

section {
    margin-top: 15rem;
}
section h1 {
    font-size: 40px;
}
section p {
    font-size: 20px;
}


/* Helper Classes */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin: auto;

}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: aqua;
}
.font-30 {
    font-size: 30px;
}